/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;500;600;700&family=Open+Sans:wght@300;400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600&family=Cormorant+Upright:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0C0B08;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 3px;
  background: #ffffff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 3px;
  background: #ffffff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

@layer utilities {
  .btn {
    @apply px-8 py-2 font-Cormorant font-bold border border-primaryColor bg-primaryColor text-bgColor w-fit
  }

  .btn:hover {
    @apply border border-primaryColor bg-transparent text-primaryColor transition ease-linear duration-200 delay-100
  }
}

.active {
  color: #DCCA87;
}

.active-btn {
  color: #DCCA87;
  background-color: transparent;
  border: 1px solid #DCCA87;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.spinner {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}